@import "~bootstrap/scss/bootstrap";

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.centered {
  text-align: center;
}

  .header{
    text-align:center;
  }

  .logo {
    width: 80px;
    vertical-align: bottom;
  }